body {
    margin: 0;
    padding: 0;

    /* font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    /* font-weight: bold; */
    font-variant: small-caps;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fffadd;
    color: #86714b;
}

.center {
    display: flex;
    align-items: center;
}

.fill {
    width: 100%;
    height: 100%;
}

.text-big {
    font-size: 32pt;
}

.text-medium {
    font-size: 24pt;
}

.text-small {
    font-size: 16pt;
}

.text-mini {
    font-size: 12pt;
}


.pagetitle {
    color: #574931;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}

.posttitle {
    color: #86714b;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1px;
}

.post{
    font-variant: normal;
}

@media screen and (max-width: 800px){
    .text-big {
        font-size: 24pt;
    }

    .text-medium {
        font-size: 16pt;
    }

    .text-small {
        font-size: 12pt;
    }

    .text-mini {
        font-size: 10pt;
    }
}


.stroke {
    text-shadow: -1pt -1pt 0 black,
                 -1pt  1pt 0 black,
                  1pt -1pt 0 black,
                  1pt  1pt 0 black;
}

#header {
    flex-flow: row;
    width: 99%;
    height: 50px;
    padding: 0 0.5%;
    background-color: #FFFADD;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
    position: absolute;
    z-index: 69;
}

#nav-dropdown {
    position: relative;
    width: 50px;
    height: 100%;
    background-color: #FFFADD;
}

#nav-menu {
    display: none;
    flex-flow: column;
    position: absolute;
    top: 50px;
    border-style: solid;
    border-width: 5px;
}

#nav-menu a {
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    text-decoration: none;
    background-color: #86714b;
    color: white;
}

#nav-menu a:hover {
    background-color:#574931;
}

#nav-dropdown:hover #nav-menu {
    display: flex;
    z-index: 69;
}

#title {
    background-color: #FFFADD;
    flex: 1;
    height: 100%;
}

#logo {
    padding: 10px;
    width: 40px;
    height: 40px;
}

#contents {
    display: flex;
    flex-flow: column;
    background-color: #FFFADD;
    z-index: 0;
    color: #3d3d3d;
}

#contents2 {
    display: flex;
    flex-flow: column;
    background-color: #FFFADD;
    z-index: 0;
    color: #3d3d3d;
    padding: 5% 10%;
}


#contents3 {
    display: flex;
    flex-flow: column;
    z-index: 0;
    color: #3d3d3d;
    padding: 5% 10%;
    width: 70%;
    background-color: white;
    margin:0 5%;
    box-shadow: 0 5px 5px 5px rgba(0,0,0,.2);
}

#contents3 .text-medium{
    color: #86714b;
}


#footer {
    background-color: #86714b;
    color: white;
    width: 100%;
    height: 100px;
    position: relative;
    padding: 40px 0px 0px 0px;
    box-shadow: 0 -4px 2px -2px rgba(0,0,0,.2);
    text-align: center
}

.pad{
    height: 50px;
}

.fit {
    max-width: 100%;
    object-fit: contain;
}